<!DOCTYPE html>
<html lang="en">

<head>
	@*The origin of Angular: The <base /> tag defines the Angular starting URL.*@
	<base href="/" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	@* Throw a title up on the top of the screen. *@
	<title>It Spends Tab</title>

	@* Include style sheets. *@
	<link rel="stylesheet" href="~/css/site.css" />
	@* Bootstrap is included. *@
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	@* FontAwesome is included. *@
	<link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
	<div>This is Razor: _Layout.cshtml which substitutes for index.html</div>
	@RenderBody()
	@RenderSection("Scripts", required: false)
</body>

</html>
